{{ define "title" }}Upload{{ end }}
{{ define "content" }}
h1 class="mc-raised-large">seenit</h1>
<p>
	Alright, let's see if you're about to post something new to <b>{{ .Community }}</b>.
</p>
<form action="/result" class="form-container">
	<label for="image" class="mc-raised image-label">Select an image</label>
	<input type="file" accept="image/*" name="image" onchange="loadFile(event)">
	<input type="hidden" name="community" value="{{ .Community }}">
	<input type="submit" value="Submit">
</form>
<div class="mc-lowered image-preview-container">
	<img id="upload-preview" class="image-preview">
</div>
<script>
 var loadFile = function(event) {
     var output = document.getElementById("upload-preview");
     output.src = URL.createObjectURL(event.target.files[0]);
     output.onload = function() {
		 URL.revokeObjectURL(output.src) // free memory
     }
 };
</script>
{{ end }}
